*.idea
tekst_label.pkl
tekst_label_2407.pkl
title_label.pkl
title_label_2407.pkl
stop_words.txt
tekst_label_all.pckl
title_label_all.pckl
textual_features.pckl
*pre_word2vec_no
*logs
*__pycache__
clean_unique_text_stemmed.pckl
clean_unique_text_stemmed_unique_new.pckl
clean_unique_text_stemmed_unique_new_u10.pckl
*dewey_dump/
*no_unique/
tekst_label_all_knut0708.pckl
tekst_label_all_knut0708_no_unique.pckl
tekst_label_all_knut0708_u10.pckl
tekst_label_all_unique.pckl
textual_features_idf_stemmed.pckl
textual_features_idfreduced_stemmed.pckl
textual_features_idfreduced_stemmed_l1.pckl
textual_features_idfreduced_stemmed_l2.pckl
title_label_all_unique.pckl
title_label_knut0708.pckl
title_label_knut0708_u10.pckl
*wiki.no
